/* Loading.css */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-image {
    width: 100px;
    /* reduce the size of the image */
    animation: fadeInOut 2s linear infinite;
}